.mainFeedHeaderText {
    padding-top: 30px;
    height: 10%;

    text-align: start;
    
    font-size: 20px;
}

.mainFeedContent {
    margin-top: 10%;
}

.mainFeedMessageText {
    text-align: center;

    font-size: 17px;
}